<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Product Details</h2>
  <a href="/addproduct" class="btn btn-primary">Add Product</a>
  <table class="table">
    <thead>
      <tr>
        <th>ProductName</th>
        <th>Price</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
     {{#each product}}
        <tr>
            <td>{{this.productname}}</td>
            <td>{{this.price}}</td>
            <td>{{this.description}}</td>
            <td>{{this.qty}}</td>
            <td><img src="upload/{{this.productimg}}" alt="" height="100px" width="100px"></td>
            <td><a href="/editproduct/{{this._id}}" class="btn btn-success">Edit</a></td>
            <td>
              <form method="post" action="/deleteproduct/{{this._id}}">
                  <input type="submit" value="Delete" class="btn btn-danger">
              </form>
            </td>
        </tr>
     {{/each}}
    </tbody>
  </table>
</div>

</body>
</html>
